:root{
    --section-header-align: center;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  body {
    font-family: var(--font-family-base);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: var(--line-height-base);
  
  }
  h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
  }
  
  a {
    color: var(--text-color);
  }
  
  .visually-hidden {
    display: none;
  }
  .section-header{
    text-align: var(--section-header-align);
  }
  .card-category,
  .section-tagline {
    color: var(--color-primary);
  }