/* setting variables */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  color: #161616;
}

a {
  color:#161616;
}

.visually-hidden {
  display: none;
}
.card-category{
  color: #D73953;
}
.section-tagline {
  color: #D73953;
}
